.blurBackdrop {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.product-autocomplete-container {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.merchant-registration-inputs {
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.numberInput {
  -moz-appearance: textfield;
  appearance: textfield;
}

.merchant-registration-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.create-product-name-price-photo-row {
  display: grid;
  grid-template-columns: 8fr 2fr 2fr;
  align-items: center;
  gap: 2rem;
}

.product-specification-description-grid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  gap: 20px;
}

.hover-text-white:hover {
  color: white !important;
}

.customer-menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.user-card-grid {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.nonShadowInput {
  --tw-ring-shadow: none !important;
}

.animatedTransition {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.customer-orders {
  display: grid;
  grid-template-columns: 7fr 2fr;
}

.order-item-grid {
  display: grid;
  grid-template-columns: 6fr 2fr;
  align-items: center;
}